.App {
  color: #f6fcfc;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  font-family: proxima-nova, sans-serif;
  font-style: thin;
  font-weight: 100;
}

.App-header {
  background-color: #020606;
  min-height: 6vh;
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fav {
  width: 1.2em;
  height: 1.2em;
  padding: 1.2em;
}

.Title {
  text-decoration: none;
  letter-spacing: 0.4em;
  padding-right: 3em;
}

.Nav {
  border-bottom: 0.1em solid hsla(0, 0%, 100%, 0.2);
}

a {
  text-decoration: none;
  color: #f6fcfc;
  position: relative;
  padding: 1.2em;
  cursor: pointer;
}

a:hover {
    color: red;
}

.fa {
}

.fa:hover {
}

.fa-instagram {
}

.App-body {
  background: #f6fcfc;
  min-height: 100vh;
  background-image: url('https://github.com/JoshDavies/jdaviescreative/blob/master/public/images/background.jpg?raw=true');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 6em;
}

.page {
  padding: 1.2em;
  border-radius: 0.2em;
  background-color: rgba(0,0,0,.4);
  color: black;
  text-align: center;
  z-index: 3;
  margin: 1.2em;
}

.picture-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.picture-card {
  flex-basis: 2em;
  margin: 2em;
}

.picture-card > img {
    width: auto;
    height: 28em;
    border-radius: 0.2em;
}
